.App-header {
  text-align: center;
  width: 100%;
  margin-bottom: 10px;
  padding: 20px 0;
  border-bottom: 1px solid #cccccc;
}

th {
  cursor: pointer;
  position: relative;
}

th:hover {
  background-color: #f4f4f4;
}

body * {
  overflow-x: hidden;
}